<div class="bg-gray-50">
    <div class="lg:max-w-7xl max-w-2xl mx-auto pt-8 pb-24 px-4 sm:px-6 lg:px-8">
        <h2 class="sr-only">Checkout</h2>
        <vsf-checkout-stage-indicator [activeStage]="activeStage$ | async"
                                      [signedIn]="signedIn$ | async"></vsf-checkout-stage-indicator>

        <div class="lg:grid lg:grid-cols-2 lg:gap-x-12 xl:gap-x-16">
            <div class="main">
                <router-outlet></router-outlet>
            </div>
            <div class="summary" *ngIf="cart$ | async as cart">
                <vsf-cart-contents [cart]="cart" class="mb-3"></vsf-cart-contents>
                <vsf-address-card *ngIf="cart.shippingAddress?.streetLine1"
                                  title="Shipping address"
                                  [address]="cart.shippingAddress">
                    <button class="btn btn-secondary"
                            *ngIf="(activeStage$ | async) === 3"
                            (click)="changeShippingAddress()">Change
                    </button>
                </vsf-address-card>
            </div>
        </div>
    </div>

</div>
