@import "variables";

.invalid-credentials {
    color: $color-warn;
    text-align: center;
    padding: 32px;
    margin-top: 20px;
    opacity: 0;
    transition: opacity 0.3s;

    &.visible {
        opacity: 1;
    }
}

.register-link {
    margin-top: 12px;
}
