<button mat-icon-button (click)="close()">
    <mat-icon aria-label="Close">close</mat-icon>
</button>
<div *ngIf="cart$ | async as cart; else empty" class="cart-contents">
    <h3>Cart</h3>
    <sf-cart-contents [cart]="cart"
                       [canAdjustQuantities]="true"
                       (setQuantity)="setQuantity($event)"></sf-cart-contents>
    <div class="checkout-button">
        <a mat-raised-button
           color="primary"
           (click)="close()"
           [routerLink]="['/checkout']">Check Out</a>
    </div>
</div>
<ng-template #empty>
    <div class="empty">
        Cart is empty
    </div>
</ng-template>
