<mat-sidenav-container class="app-container">
    <mat-sidenav #sidenav mode="over" position="end">
        <vsf-cart-drawer></vsf-cart-drawer>
    </mat-sidenav>

    <mat-sidenav-content class="app-content">
        <div class="top-bar mat-elevation-z6">
            <a [routerLink]="['/']" class="logo-link">
                <img src="/assets/cube-logo-75px.png" class="logo">
                <div class="logo-type">Vendure Storefront</div>
                <lib-storefront></lib-storefront>
            </a>
            <div class="flex-spacer"></div>
            <vsf-account-link></vsf-account-link>
            <vsf-cart (toggle)="sidenav.toggle()"></vsf-cart>
        </div>
        <div class="page">
            <router-outlet></router-outlet>
        </div>
    </mat-sidenav-content>
</mat-sidenav-container>
