@import "storefront/styles";

$header-height: 64px;

.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 2;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding: 0 16px;
    height: $header-height;
    background-color: $gray-100;
    border-bottom: 1px solid $gray-200;
}

.logo-link {
    display: flex;
    align-items: center;

    img.logo {
        max-height: 50px;
        margin-right: 12px;
    }

    &:link, &:visited {
        color: #0e95c7;
        font-size: 22px;
    }
}

.contents {
    margin-top: $header-height;
}
