@import "variables";

:host {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

    .filters-title {
        display: none;
        padding: $spacer / 2;
        padding-left: $spacer / 3;
        text-transform: uppercase;
        border-bottom: 1px solid $gray-200;
        margin-bottom: $spacer / 2;
        color: $gray-600;
    }

    @include media-breakpoint-up(md) {
        flex-direction: column;

        .filters-title {
            display: block;
        }
    }



    .facet-group {
        margin-bottom: $spacer;
    }
    button.facet-name {
        font-size: $font-size-sm;
        color: $gray-600;
        padding: 0 $spacer / 3;
        margin-right: $spacer / 2;
        text-transform: uppercase;
        transition: color 0.3s;
        border: none;
        background: none;
    }
}

.facet-value-filter-dropdown {
    min-width: 178px;
    min-height: 24px;
    ul.facet-values {
        padding-left: $spacer / 3;
        margin: $spacer 0;
    }
    a.facet-value {
        margin: $spacer / 3 $spacer / 2;
    }
}

:host, .facet-value-filter-dropdown {
    a.facet-value {
        font-size: $font-size-sm;
        display: inline-block;
        padding-left: $spacer / 2;
        border-radius: $border-radius;
        transition: background-color 0.2s, color 0.2s;
        color: $gray-900;
        &:hover {
            text-decoration: none;
            // background-color: $gray-100;
            color: $gray-900;
        }
        &.selected {
            // background-color: $gray-300;
            // color: $light;
        }
        .badge {
            display: inline-block;
            min-width: 16px;
        }
    }
}
