<form #verifyForm="ngForm"
      class="mt-3 max-w-md mx-auto block"
      (submit)="verify()">
    <vsf-centered-card title="Almost done!"
                       subTitle="Now just choose a password to complete the process">
            <input class="input-text"
                   placeholder="Password"
                   type="password"
                   name="password"
                   aria-describedby="button-verify"
                   required
                   [(ngModel)]="password">

                <button class="btn-primary mt-3"
                        id="button-verify"
                        [disabled]="verifyForm.invalid"
                        type="submit">
                    Create account
                </button>
    </vsf-centered-card>
</form>
