/* You can add global styles to this file, and also import other style files */
@import "storefront/styles";

html, body {
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

a:link {
    text-decoration: none;
}

