$primary: #0e95c7;
$link-hover-color: #1c7d92;
$link-hover-decoration: underline solid #6898bd;
$border-radius: .1rem;
$border-radius-lg: .2rem;
$border-radius-sm: .05rem;
$breadcrumb-divider: quote("/");

@import "storefront/styles";
