@import "variables";

:host {
    display: block;
    min-width: 400px;
}

.cart-contents {
    padding: 12px;
}

.item {
    display: flex;
    font-size: 14px;

    .details {
        display: flex;
        flex-direction: column;
        padding: 0 12px;
        flex: 1;
    }
    .name {
        margin-bottom: 6px;
    }
    .figures {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .qty-controls {
        display: flex;
        align-items: center;

        [mat-icon-button] {
            @include mat-icon-button-size(24px);
        }
    }
    .price {
        color: #999;
    }
}
.adjustment {
    display: flex;
    justify-content: space-between;
    font-size: 12px;
    margin-bottom: 12px;
    color: #555;
    padding-right: 12px;
}

.order-tax, .totals, .order-adjustments {
    font-size: 18px;
    margin-top: 12px;
    border-top: 1px dashed #ddd;
    padding-top: 12px;
    display: flex;
    justify-content: space-between;
}

.order-adjustments {
    flex-direction: column;
    font-size: 14px;
}

.order-tax {
    font-size: 14px;
}
